*{
    margin:0;
    padding:0;
    border:0;
    font-family:'Doppio One', arial;
}
html{
    background:#FF7;
}
div#container{
    width:960px;
    margin:0 auto;
}
div#sidebar{
    width:199px;
    padding:10px;
    text-align:center;
    float:left;
    border-right:1px black solid;
}
div#sidebar h1{
    background:black;
    font-size:40px;
    margin-bottom:10px;
    padding:4px 0;
    -moz-transform:rotate(-2deg);
    -webkit-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    transform:rotate(-2deg);
    box-shadow:0 0 5px black;
}
div#sidebar h1 a{
    color:white;
    text-decoration:none;
    text-shadow:inset 0 0 5px black;
}
div#sidebar p a{
    color:white;
    text-decoration:none;
}
div#sidebar div#footer{
    margin-top:40px;
    font-size:9px;
    text-align:center;
}
div#sidebar div#footer a{
    color:#555;
    text-decoration:none;
}
div#sidebar div#footer a:hover{
    text-decoration:underline;
}
div#content{
    padding:10px 0;
    width:730px;
    float:right;
}
div#content ul li{
    margin-left:20px;
}
div#content h2{
    font-size:30px;
    margin:13px 0;
}
div#content h3{
    font-size:24px;
    margin:13px 0;
}
div#content h4{
    font-size:20px;
    margin:13px 0;
}
div#content h2 a, div#content h4 a{
    color:black;
}
div#content div#institutes a#institute{
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
    transition-duration:1s;
    display:block;
    background:rgba(255,255,255,.45);
    margin-bottom:10px;
    box-shadow:0 0 2px black;
    color:black;
    text-decoration:none;
    font-size:40px;
    width:710px;
    padding:5px 10px;
}
div#content div#institutes a#institute:hover, div#content div#institutes a#institute:focus{
    margin-left:50px;
    background:rgb(255,0,0);
    color:white;
}
div#content div#institutes a#institute.green:hover, div#content div#institutes a#institute.green:focus{
    background:rgb(0,255,0);
    color:black;
}
div#content div#persons a#person{
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
    transition-duration:1s;
    display:block;
    background:rgba(255,255,255,.45);
    margin-bottom:10px;
    box-shadow:0 0 2px black;
    color:black;
    text-decoration:none;
    font-size:40px;
    width:710px;
    padding:5px 10px;
}
div#content div#persons a#person:hover, div#content div#persons a#person:focus{
    margin-left:50px;
    background:rgb(255,0,0);
    color:white;
}
div#content div#persons a#person.green:hover, div#content div#persons a#person.green:focus{
    background:rgb(0,255,0);
    color:black;
}
div#content div#person{
    text-align:center;
    margin-bottom:20px;
}
div#content div#person div#personcontent h2{
    text-align:left;
}
div#content div#person img{
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
    transition-duration:1s;
    float:left;
    max-height:100px;
    max-width:100px;
    box-shadow:0 0 5px black;
    
}
div#content div#person div#personcontent{
    float:left;
    width:620px;
    margin-left:10px;
}
div#content div#person h3{
    margin:30px 0 25px;
    text-align:left;
    background:none;
    color:black;
    font-family:arial;
    font-weight:normal;
}
div#content div#person div.comment{
    text-align:left;
    margin-bottom:15px;
    padding:5px 10px;
    background:rgba(255,255,255,.5);
    box-shadow:0 0 4px black;
}
form{
    padding:0 0px;
}
form h2{
    font-size:40px;
    padding-bottom:5px;
    margin:0 0 10px;
}
form input, form textarea{
    background:#555;
    color:#fff;
    display:block;
    padding:5px;
    margin:0 0 10px;
    font-size:25px;
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
    transition-duration:1s;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    box-shadow:0 0 2px black;
    padding:5px 10px;
}
form textarea{
    height:30px;
}
form input[type="button"], form input[type="submit"]{
    cursor:pointer;
}
form input:hover, form input:focus, form textarea:hover, form textarea:focus{
    background:#fff;
    color:#555;
    outline:none;
    box-shadow:0 0 5px black;
}
form textarea:hover, form textarea:focus{
    height:100px;
}
form input[type="file"]{
    opacity:0;
    height:0px;
    padding:0;
    margin:0;
}
div.clear{
    clear:both;
}
.alert{
    font-size:20px;
    background:pink;
    border:1px red solid;
    font-family:arial;
    margin-bottom:20px;
    color:red;
    text-shadow:0 1px 1px white;
    padding:10px;
}
.dotted{
    border:1px black dotted;
    margin-bottom:10px;
}
.tiny{
    font-size:10px;
}
.red{
    color:red;
}
.biggest{
    margin-top:200px;
    font-size:60px;
    text-align:center;
}