{%extends 'base.html'%}
{%block title%}{{character.name}} @ {{institute.name}}{%endblock%}
{%block content%}
    <div id="person">
        <img src="{{MEDIA_URL}}/{{character.image}}" alt="" />
        <div id="personcontent">
            <h2>{{character}} @ <a href="/{{institute.id}}"> {{institute.name}}</a></h2>
        </div>
        <div class="clear"></div>
        {%if character.comments.all%}
        <h3>Comentarios</h3>
        {%for comment in character.comments.all%}
        <div class="comment">
            <p>{{comment.text}}</p>
            <!--<p class="tiny">Hace: {{comment.creation_date|timesince}}</p>-->
        </div>
        {%endfor%}
        {%else%}
        <h3>No hay comentarios, sé el primero en comentar.</h3>
        {%endif%}
        {%include 'comment_form_char.html'%}
    </div>
{%endblock%}