{%extends 'base.html'%}
{%block title%}Acerca de {{name}}{%endblock%}
{%block content%}
<h1>Acerca de {{name}}</h1>
<h2>¿Como comenzo?</h2>
<p>Todo comenzó con un sitio de protesta hacia una institución educativa. El sistema fue un éxito dentro de la población estudiantil, se salió de control, lo cual desató en un servicio con el cual se causaron opiniones divididas sobre la utilidad que este podría ofrecer.</p>
<h2>¿Cuanto tiempo llevo hacerlo?</h2>
<p>En el prototipo inicial llevó de 3 a 5 horas desarrollarlo, recibió aproximadamente 2,500 visitas en día y medio.</p>
<h2>¿Como gana dinero este servicio?</h2>
<p>Este servicio no genera dinero con tu contenido, actualmente el servicio está disponible completamente gratis para que la gente haga el mejor uso de este.</p>
{%endblock%}