{%extends 'base.html'%}
{%block title%}Privacidad{%endblock%}
{%block content%}
<h1>Privacidad</h1>

<p>Tu privacidad es importante para nosotros. Este documento se ha realizado con el objetivo de que conozcas como protegemos los datos que proporcionas y tu identidad.</p>

<h2>La información que colectamos</h2>
<p>La información que nos proporcionas la utilizamos para mejorar nuestro servicio, no compartimos información con servicios de terceros, exceptuando lo expresado en estas políticas de privacidad y en nuestros términos de servicio.</p>

<h2>Anonimato</h2>
<p>No recopilamos información sobre quien crea alguna institución o persona, por lo que puedes estar tranquilo en todo momento, que jamas se podrá saber que tu fuiste quien contribuyó con contenido a este servicio.</p>

<h2>Protección a menores</h2>
<p>Nuestro servicio no es para personas menores de 13 años, sin embargo nos reservamos el derecho de poder eliminar en cualquier momento, material ofensivo dentro de nuestro servicio.</p>

<h2>Respeto al prójimo</h2>
<p>Nos reservamos el derecho de eliminar contenido que este resultando altamente ofensivo hacia alguna persona o institución dentro de nuestro servicio.</p>

<h2>Como contactarnos</h2>
<p>Nos puedes contactar enviando un correo a <a href="mailto:cracketus@gmail.com">cracketus@gmail.com</a></p>

<h2>Jurisdicción</h2>
<p>Toda situación legal estará regida por las leyes mexicanas.</p>
{%endblock%}
