{%extends 'base.html'%}
{%block title%}Términos de servicio{%endblock%}
{%block content%}
<h1>Términos de servicio</h1>
<h2>¿Que proveemos?</h2>
<p>Cracket es un servicio para hacer quejas publicas anónimas, hacia personas en especifico ó instituciones.</p>
<h2>¿Para quien es nuestro servicio?</h2>
<p>El uso de cracket es para personas mayores de 13 años, quienes desde el momento de crear una institución, persona o publicar un comentario aceptan estos términos de servicio y políticas de privacidad.</p>
<h2>Contenido y uso permitido</h2>
<p>Cracket es una forma fácil de emitir quejas publicas, queremos mantenerlo seguro y amigable, por lo que hay algunas reglas. NO debes:</p>
<ul>
    <li>Publicar contenido obsceno o altamente ofensivo, trata de emitir comentarios acertados y que no dañen a las personas a quienes comunicas alguna inconformidad.</li>
    <li>Hacerte pasar por alguien que no eres.</li>
    <li>Publicar contenido el cual no tienes derecho para transmitir.</li>
    <li>Publicar contenido que infringe en marcas registradas o derechos de autor.</li>
    <li>Publicar virus o scripts maliciosos.</li>
    <li>Publicar spam o links como carnada para campañas publicitarias o propósitos diferentes a compartir información relacionada a los perfiles en cracket.</li>
    <li>Recolectar datos de las instituciones o personas publicadas en cracket.</li>
    <li>Analizar nuestro contenido sin permiso de Cracket.</li>
    <li>Usar cracket para compartir archivos.</li>
    <li>Publicar links a archivos en cracket sin un link a la fuente en Cracket.</li>
</ul>
<h2>Derechos reservados</h2>
<p>Cracket reserva el derecho de filtrar cualquier contenido publicado y remover contenido especifico en cualquier momento sin notificar. Cracket puede remover instituciones, personas y comentarios que violen los términos de servicio.</p>
<p>Cracket respeta tu copyright. Tu retienes completamente el copyright de cualquier contenido que nos envies. Al momento de publicar contenido en Cracket nos cedes el permiso de distribuir tu contenido en este sitio.</p>
<p>Cracket reserva los derechos de eliminar instituciones que no cumplan con los términos de servicio. Si se desea que la institución exista por alguna razón por favor contactanos a <a href="mailto:cracketus@gmail.com">cracketus@gmail.com</a>.</p>
<h2>Report content</h2>
<p>Para reportar contenido ofensivo o inapropiado por favor envianos un correo a <a href="mailto:cracketus@gmail.com">cracketus@gmail.com</a>, en el asunto pon "contenido ofensivo/inapropiado", mandanos la liga y porque no debería estar el contenido publicado. A la brevedad atenderemos este problema y daremos, te notificaremos vía email que el contenido ha sido eliminado o lo que corresponsda.</p>
<h2>¿Como contactarnos?</h2>
<p>Puedes contactarnos a <a href="mailto:cracketus@gmail.com">cracketus@gmail.com</a></p>
{%endblock%}
